In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('Topship.xlsx', sheet_name=0)

In [4]:
df.head()

,States,WEIGHT,TOPSHIP STANDARD PRICE,DELIVERY TIMELINE,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lagos state,0-5kg,8500,Delivery takes 2 hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Lagos state,5kg+,"plus 1,000/KG",Delivery takes 2 hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0
3,Lagos state,0-2kg,2500,Delivery takes 1 working day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Lagos state,2.5kg,2500,Delivery takes 1 working day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df1 = df.loc[df['States']=='Lagos state'].loc[df['WEIGHT']=='3kg ']['TOPSHIP STANDARD PRICE']

In [37]:
df1.tolist()

[2500]